.Foot {
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding-left: 2rem;
  padding-right: 2rem;
  bottom: 0.2rem;
  width: 100vw;
  height: 1.5rem;
}

.Foot img {
  width: 1.2rem;
}
