.ContainerOfCards {
  margin-top: 3.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  width: 80vw;
  margin-left: 6rem;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}

.cooking {
  z-index: -1;
  height: 50vh;
  position: fixed;
  bottom: 0;
  left: 30rem;
  filter: opacity(85%);
}

.ContainerOfCards button {
  display: block;
}
